name: Build project

on: [push, pull_request]

jobs:
  build-linux:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Update and install packages
        run: |
          python -m pip install --upgrade pip 
          python -m pip install --upgrade certifi setuptools requests types-requests flake8 mypy bandit pyinstaller==4.4
      - name: Run build script
        run: |
          flake8 --extend-ignore=E501 m64p-updater.py
          mypy --strict m64p-updater.py
          bandit --skip B404,B603 m64p-updater.py
          python -m PyInstaller -F m64p-updater.py
      - name: Upload package
        uses: actions/upload-artifact@v2
        with:
          name: m64p-updater
          path: dist/m64p-updater
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Run build script
        shell: bash
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade certifi setuptools requests types-requests flake8 mypy bandit
          flake8 --extend-ignore=E501 m64p-updater.py
          mypy --strict m64p-updater.py
          bandit --skip B404,B603 m64p-updater.py
          curl -O -L https://github.com/pyinstaller/pyinstaller/archive/refs/tags/v4.4.tar.gz
          tar xf v4.4.tar.gz --directory /d
          pushd /d/pyinstaller-4.4/bootloader
          python ./waf all
          cd ..
          python setup.py install
          popd
          pyinstaller -w -F m64p-updater.py
      - name: Upload package
        uses: actions/upload-artifact@v2
        with:
          name: m64p-updater.exe
          path: dist/m64p-updater.exe
